.sidebar {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
}
  
.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}
  
.sidebar__logo {
    width: 212px;
    height: 42px;
}
  
.sidebar__humberger {
    width: 30px;
    height: 30px;
}
  
.sidebar__humberger:hover {
    cursor: pointer;
}

@media (max-width: 620px) {
    .sidebar {
        width: 100%;
        height: unset;
    }
}