.search {
    width: 320px;
    position: relative;
    text-align: left;
}

.search__input {
    margin: 25px 0;
    padding: 15px 0 15px 35px;
    border: 0;
    border-radius: 10px;
    background: url(/src/icons/search-icon.svg) no-repeat scroll 12px 14px;
    background-size: 15px;
    background-color: #ffffff;
    padding-left: 40px;
}
  
.search::placeholder {
    color: #000;
}

@media (max-width: 620px) {
    .search {
        width: 100%;
    }
    .search__input {
        margin-top: 0;
        max-width: unset;
    }
}