.App {
  display: flex;
  height: 100vh;
  text-align: center;
  background-color: #1B1D22;
}

.input {
  width: 100%;
  max-width: 320px;
  box-sizing: border-box;
}

@media (max-width: 620px) {
  .App {
    flex-direction: column;
  }
}